@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-karla: "Karla", sans-serif;
  --url-img: url("/src/assets/img/bg-img.jpg");
  --color-light-coffee: #c89f94;
}

@utility bg-light-coffee {
  background-color: #c89f94;
}

@utility bg-img {
  background-image: #c89f94;
}

/* prefix cf meaning coffee */

.cf-topmenu-expend {
  @apply absolute top-20 z-50 w-4/5 bg-white text-center left-1/2 -translate-x-1/2 animate-in slide-in-from-top duration-700 rounded drop-shadow-lg;
}

.btn {
  @apply top-3 right-3 w-[100px] bg-white text-gray-900 py-2 rounded px-3 z-50 font-semibold text-center;
}

.cf-top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:w-0 after:lg:bg-red-500 after:lg:h-0.5 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300 after:lg:content-[''];
}

.cf-top-menu-item-active {
  @apply text-gray-800;
}

.cf-icon {
  @apply w-5 h-5 inline-block;
}

.cf-badge-circle {
  @apply text-xs text-center rounded-full px-1.5 p-1;
}

@plugin 'tailwindcss-animate';

.bg-img {
  background-image: var(--url-img);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.cf-subheadline {
  @apply flex justify-center items-center mb-25;
}

.subheadlinr-deco-line {
  @apply w-8 h-px bg-gray-200;
}

.subheadlinr-label {
  @apply uppercase mx-4 tracking-widest text-gray-500 font-bold text-xs text-center;
}
